<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.trichromelibrary" />
        <package android:name="com.chrome.beta" />
        <package android:name="com.chrome.dev" />
        <package android:name="com.chrome.canary" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".ChromeXApp"
        android:allowBackup="false"
        android:label="ChromeX"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChromeX">
        <provider
            android:name=".DiagnosticProvider"
            android:authorities="com.yagay.chromex.diagnostics"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AluminiumInstallerActivity"
            android:exported="true"
            android:label="Aluminium 145 安装器">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
